
html {
  scroll-behavior: smooth;
}
/** Navigation section **/

.nav-header{
  z-index:1;
  background-color:blue;
  height:80px;
  width: 100%;
  position:fixed;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar{
  padding-right: 3rem;
}

.menu {
  display: flex;
  justify-content:center;;
  list-style: none;
  align-items:flex-start;
}



li {
  padding: 1.5rem;
}

a {
    cursor:pointer;
    color: inherit;
    text-decoration: none;

}

a:hover {
  animation-name:underline;
  animation-duration:0.8s;
}

@keyframes underline{
  from {text-decoration:none;}
  to {text-decoration:underline;}
}
section{
  height:100vh;
  padding-top: 85px;
}

body{
  font-family: 'Overpass Mono', monospace;
}

/** Home section **/

/* .Home-article {

  flex-wrap: wrap;
} */

.home-container{
  display: flex;
  justify-content:space-around;
  height:25%;
}

.Home-image{
  -webkit-filter: grayscale(0.8);
  filter:grayscale(0.8);
  max-width: 30%;
  height: 500px;
}

.Home-text-div{
  padding-top:2rem;
  max-width: 28%;
}

/** About section **/

/** Projects section **/

/** Contact section **/

/** Footer **/

.footer{
  height: 60px;
}
