html {
  scroll-behavior: smooth;
}
/** Navigation section **/


.nav-header {
  z-index: 1;
  background-color: white;
  border-bottom: solid grey 1px;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar {
  padding-right: 1.5rem;
}

.menu {
  color: #241623;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: flex-start;
}

li {
  padding: 1.5rem;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition-delay: 0.5s
  -webkit-transition: text-decoration 1s;
  transition: text-decoration 1s;
}

a:hover{
  text-decoration: underline;
}


/* section {
  height: 87vh;
  padding-top: 13vh;
} */

body {
  font-family: "Overpass Mono", monospace;
  color:#241623;
}

/** Home section **/

/* .title-container{
  padding-left: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  align-content:center;
} */

.Home span {
  font-family: "Barriecito", cursive;
  font-size: 6rem;
}

.Home {
  height: 87vh;
  padding-top: 13vh;
  background-image: url(images/pink-tiles-background.jpg);
  background-size: cover;
}

.grid-container {
  display: grid;
  height: 93vh;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 1fr 1fr;
  grid-template-columns: 0.6fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.6fr;
}

.letter-m {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.letter-a {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.letter-r {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.letter-t {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.letter-h {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
}

.letter-last-a {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}


.Home-image {
  /* -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8); */
  border: solid #39185b 2px;
  height: 450px;
  grid-area: 2 / 6 / 6 / 8;
}

.Home-text-div {
  text-align: left;
  padding-right:2rem;
  grid-column: 3 / span 3;
  grid-row: 3 / span 3;
  overflow-y: hidden;
  align-self: start;
  justify-content: start;
  padding-right: 1em;
}
.Home-text-div p {
  padding-right: 3rem;
}

/** About section **/

.About {
height: 87vh;
padding-top: 13vh;
}
.About-image {
  max-width: 35%;
  padding: 1em;
}

.About-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.About-paragraph {
  padding: 1em;
  max-width: 50%;
}
h2 {
  font-family: "Barriecito", cursive;
  padding-right: 1.8em;
  text-align: center;
  margin-left: 1.8em;
  font-size: 4em;
  margin-top: 0;
  margin-bottom:0.5em;
}

/** Tech stack container **/

.tech-stack {
  width: 5%;
}
.express-img
{
  width: 8%;
}

.tech-stack-container{
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/** Projects section **/

.button{
  cursor:pointer;
  text-align: center;
  font-size: 1em;
  width: 5em;
  background-color: #F7F4F3;
  border-radius: 5%;
  transition: background-color;
}

.button:hover{
  transform: translateY(-3px);
  /* background-color:#F9ADA0; */
}
h3{
  font-family: "Barriecito", cursive;
  font-size: 2.5em;
  padding-bottom:0;
  margin:0;
}

.Projects{
  padding-top: 13vh;
  padding-bottom: 3rem;
}

.projects-text-div{
padding-right: 1.2em;
padding-left: 1.2em;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;

}

.Projects-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.Projects-container span{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 2em;
  padding-left: 2em;

}
.Project-one{
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color: #0E96A3;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 2 /span 1;
  align-self: stretch;
}

.Project-two{
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color: #F9ADA0;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 3/span 1;
  align-self: stretch;
}

.Project-three{
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color: #6C698D;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 2 /span 1;
  grid-row: 2 /span 1;
}

.Project-four {
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color: #CE6C47;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 3/span 1;
  grid-row: 2/ span 1;
}

.Project-five {
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color:#FFAC81;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 2/ span 1;
  grid-row: 3/span 1;
}

.Project-six{
  box-shadow: 3px 3px grey;
  padding-top: 2em;
  border-radius: 5%;
  height: 22em;
 background-color:#EF798A;
  display: flex;
  align-items: center;
  flex-direction:column;
  grid-column: 3/span 1;
}

.project-one-image {
  max-width: 70%;
}
.project-two-image {
  max-width: 70%;
}
.project-three-image {
  max-width: 70%;
}
.project-four-image {
  max-width: 70%;
}

.Projects p{
  max-width: 70%;
  text-align: left;
}


/** Contact section **/

.Contact{
  height: 82vh;
  padding-top: 13vh;
}

/** Footer **/

.footer {
  text-align: center;
  height: 60px;
}
